{% extends "base.html" %}

{% block content %}
<h1 align="center">Works log</h1>
{% for item in jobs %}
<div>
    <h2>Action # {{ loop.index }}</h2>
    <table class="table">
        <thead class="table-secondary">
            <tr>
              <th scope="col" align="center">Title of activity</th>
              <th scope="col" align="center">Team lider</th>
              <th scope="col" align="center">Duration</th>
              <th scope="col" align="center">List of collaborators</th>
              <th scope="col" align="center">Is finished</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="table-primary" align="center">{{ item.job }}</td>
              <td class="table-primary" align="center">{{ item.user.surname }} {{ item.user.name }}</td>
              <td class="table-primary" align="center">{{ item.work_size }} hours</td>
              <td class="table-primary" align="center">{{ item.collaborators }}</td>
                {% if item.is_finished %}
                    <td class="table-danger" align="center">Is finished</td>
                {% else %}
                    <td class="table-danger" align="center">Is not finished</td>
                {% endif %}
            </tr>
          </tbody>
    </table>
</div>
{% endfor %}
{% endblock %}